:root {
    --light: #F2F2F2;
    --blush: #EBD5D5;
    --pink: #F9B8BE;
    --coral: #FD6378;
    --soft-dark: #50666B;
    --dark: #2E3B3E;

    font-family: "Lora", 'Times New Roman', Times, serif;
    color: var(--dark);

    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--blush);
}

main {
    width: 80%;
    max-width: 65rem;
    margin: 0 auto;
    background-color: rgba(242, 242, 242, 0.75);
    padding: 1rem;
}

h2 {
    font-family: "Agbalumo", 'Times New Roman', Times, serif;
    color: var(--soft-dark);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    h2 {
        text-align: left;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}